<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vue - Todo List</title>

  <!-- Font Awsome -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

  <!-- JQuery -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- VueJS -->

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <!-- CSS -->

  <link rel="stylesheet" href="master.css">

  <!-- JS -->

  <script src="script.js" charset="utf-8"></script>

</head>

<body>
  <div id="app" class="container">
   <div class="logo">
     <img src="https://www.boolean.careers/images/misc/logo.png" alt="">
   </div>
   <div class="new-todo">
     <input v-model='newTodo' @keyup.enter='addTodo' type="text" name="" value="">
     <button @click="addTodo" type="button" name="button">Aggiungi</button>
   </div>
   <div class="todos-container">
     <ul v-if='todoElem.length > 0'>
       <li class="todo" v-for="(todo, index) in todoElem">
         {{todo}}
         <i @click='deleteTodo(index)'class="fas fa-times"></i>
       </li>
     </ul>
     <h2 v-else>Todo Nothing</h2>

   </div>
  </div>






















  <!-- <div id="app" class="container">

    <div class="row title">
     <div class="new-todo">
       <input v-model="newTodo" @keyup.enter='createNewTodo' class="todo" type="text" name="" value="">
       <button @click="createNewTodo" type="button" name="button">Aggiungi</button>
     </div>
     <div class="todos-container">
       <ul v-if='todos.length > 0'>
         <li v-for="(todo, index) in todos" class="list">
           {{todo[index]}}
           {{todo}}
           <a @click='clickDeleteTodo(index)'>X</a>
         </li>
       </ul>
       <h2 v-else>Non ci sono elementi</h2>
     </div>
    </div>

  </div> -->

</body>

</html>
